# Binary capture files
*.bin
*.dat

# directories
iq_samples/
.vscode/
ignore_files/

# Output folders
output/

# Python
__pycache__/

# Logs
*.log

# ADS-B pipeline
rtlsdr_rec_pipeline
captures/
src/output/
src/azel_output/
*.pyc
src/**/__pycache__/
*.pyo