# Binary capture files
*.bin
*.dat
*.csv

# directories
iq_samples/
.vscode/
ignore_files/

# Output folders
output/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# ADS-B pipeline
rtlsdr_rec_pipeline
captures/
decoder_output/
azel_output/


#MacOS metadata files
.DS_Store